/* your styles will go here!! */
.home main img {
  width: 50%;
}


h1 {
  /* book*/
color: white;
 font-size: 96px;
 font-family: 'Indie Flower';
 font-weight: 400;
 word-wrap: break-word
}
 
h2 {
  /*ish*/
 color: white;
 font-size: 96px;
 font-family: 'Indie Flower';
 font-weight: 400;
 word-wrap: break-word
 }

 h3 {
  /*find yourself in a book <3*/
  color: white;
  font-size: 72px;
  font-weight: 200;
  font-style: italic;
 }

 .text {
  line-height: 10px;
 }

  body {
    background-color: hsl(264, 34%, 44%);
    position: fixed;
    flex-shrink: 0;
  }

  @font-face {
    font-family: 'Indie Flower', cursive;
    src: url ("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap") format ('truetype')
  }