@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inria+Serif&display=swap');

body {
  font-family: 'Inria Serif', serif;
  background-color: hsl(264, 57%, 82%);
  flex-shrink: 0;
}


nav {
  position: absolute;
  right: 0;
  top:0;
  display: flex;
  flex-direction: column;
}
nav a {
  color: #604B80;
  text-align: right;
  text-decoration: none;
  font-size: 23px;
  margin-bottom: 11px;
}

.nav-container{
position: relative;
}

.nav-container a {
  text-decoration: none;
}


.home main img {
  width: 15%;
}


h1 {
  /* book*/
color: white;
 font-size: 60px;
 font-family: 'Indie Flower';
 font-weight: 400;
 word-wrap: break-word;
 line-height: 0.9;
}
 
h2 {
  /*ish*/
 color: white;
 font-size: 96px;
 font-family: 'Indie Flower';
 font-weight: 400;
 word-wrap: break-word;
 text-align: center;
 }

 h3 {
  /*find yourself in a book <3*/
  color: white;
  font-size: 80px;
  font-weight: 200;
  font-style: italic;
  font-family: 'Times New Roman' serif;
  text-align: center;
 }

 p {
  color: #604B80;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 150;
  flex-shrink: 0;
  text-align: center;
  margin: 3px;
 }

 h4 {
  /*books of the week*/
  color: #FFF;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  width: 150px;
  height: 20px;
  flex-shrink: 0;
  position: absolute;
  margin: 10px;
  text-align: center;
 }


.image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 250px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.image-wrapper{
  flex-shrink: 1;
  position: relative;
  flex-basis: 300px;
}

.image-wrapper p {
  font-family: 'Indie Flower';
  font-size: 27px;
  font-weight: 600;
  font-style: oblique;
  color: #604B80;
  max-width: 270px;
}

.bookcover{
  z-index: 10;
  position: absolute ;
  width: 100%;
  height: auto;

}
.starcircle{
  width: 150%;
  height: 150%;
}

@media (min-width:640px) {
  nav a {
    
  }
}