/* your styles will go here!! */
img {
  max-width: 50%;
}
img{
  max-width: 25%;
}

h1 {
  /* book*/
color: white;
 font-size: 96px;
 font-family: 'Indie Flower';
 font-weight: 400;
 word-wrap: break-word
}
 
h2 {
  /*ish*/
 color: white;
 font-size: 96px;
 font-family: 'Indie Flower';
 font-weight: 400;
 word-wrap: break-word
 }

 h3 {
  /*find yourself in a book <3*/
  color: white;
  font-size: 72px;
  font-weight: 200;
  font-style: italic;
 }

  .background {
    background-color: hsl(265, 79%, 87%);
    position: fixed;
  }

  @font-face {
    font-family: 'Indie Flower', cursive;
    src: url ("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap") format ('truetype')
  }